*{
  margin: 0 auto;
  padding: 0;
  background-color: lightgrey;
}
.body{
  text-align: center;
}
.header{
  width: 1280px;
}
.logo{
  text-decoration: none;
  font-size: 70px;
  color: white;
}
.logo span{
color: red;
}
.logo h1{
  padding-left: 20px;
}
.main{
  width: 1280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.menu-top{
  font-size: 30px;
  font-weight: 1000;
  margin: 20px;
  text-align: center;
  background-color: #35444f;
}
.menu-top-item{
  padding:30px;
  display: inline-block;
  border:1px solid transparent;
  box-sizing: border-box;
  background-color: #35444f;
}
.menu-top-item:hover{
  background-color: #222f3a;
  border:1px solid white;
}
.menu-top-link {
  text-decoration: none;
  color: white;
  background-color: #35444f;
}
.menu-left{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  border: 1px solid black;
  margin-left: 20px;
  float: left;
}
.menu-left-item{
  display: block;
  padding: 30px;
  box-sizing: border-box;
}
.menu-left-item:hover{
  background-color: #dcdcdc;
  text-align: center;
}
.menu-left-link{
  text-decoration: none;
    color: #465763;
}
.menu-left-link:hover{
  color: black;
}
.maininfo{
  display: inline-block;
  width:960px;
  text-align: center;
}
.imgcontainer{
  text-align: center;
  padding: 50px 250px;
  width: 960px;
  margin-bottom: 20px;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}
.image{
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  transition: transform 0.5s linear ;
}
.image:hover{
  transform: scale(1.1);
}
.content{
  text-align: center;
}
.txt{
  padding-bottom: 15px;
}
.footer{
    width: 1280px;
}
.menu-bottom{
  font-size: 20px;
  font-weight: 800;
  margin: 20px;
  text-align: center;
  background-color: #b5b8bb;
}
.menu-bottom-item{
  padding:20px 10px 20px 5px;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  background-color: #b5b8bb;
}
.menu-bottom-link {
  text-decoration:none;
  padding: 0 20px;
  color: black;
  background-color: #b5b8bb;
}
.menu-bottom-link:hover {
  padding-bottom: 5px;
  border-bottom: solid red 1px;
  color: red;
}
.menu-bottom-copyright{
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 5px 20px 60px ;
  background-color: #b5b8bb;
}
